.sec5-body {
  /* border: 2px solid red; */
  margin: 0 auto;
  width: 100%;
  /* width: 1150px; */
  /* max-width: 1800px; */
  /* min-width: 10px; */
}

@media (max-width: 991px) {
  .sec5-body {
    /* display: grid;
    grid-template-columns: 1fr; */
    width: 100%;
  }
}

.sec5-flex {
  /* display: flex; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gap: 80px; */
  /* padding-top: 10%;
  padding-bottom: 10%; */

  /* justify-content: space-around;
    justify-content: space-between;  */
}
@media (max-width: 991px) {
  .sec5-flex {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.sec5-cont {
  /* border: 1px solid black; */
  /* width: 45%; */
  background-color: rgba(0, 0, 255, 0.772);
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
  text-align: center;
}
@media (max-width: 991px) {
  .sec5-cont {
    /* border: 4px solid rgb(37, 29, 60); */
    width: 100%;
    padding-bottom: 10%;
  }
}

.sec5-cont h1 {
  /* font-size: 90px; */
  font-size: 50px;
  /* padding-top: 100px; */
}
@media (max-width: 991px) {
  .sec5-cont h1 {
    font-size: 300%;
    padding-top: 100px;
  }
}

.sec5-img {
  /* border: 1px solid black; */
  /* width: 48%; */
}
@media (max-width: 991px) {
  .sec5-img {
    /* display: grid;
    grid-template-columns: 1fr; */
    display: none;
  }
}
.btn {
  color: white;
  padding: 10px 50px;
  /* text-decoration: none; */
  border-radius: 10px;
  /* border: 2px solid rgb(150, 57, 57); */
  background-color: rgba(72, 58, 171, 0.791);
}
.sec5-btn:hover {
  color: #041b19;
  text-decoration: none;
  padding: 5px 50px;
  border-radius: 5px;
  /* border: 1px solid rgb(51, 17, 222); */
  background-color: rgb(255, 255, 255);
}
