.loginbody {
  margin: 0 auto;
  /* padding: 10% 10% 10% 10%; */
  /* padding-top: 5%; */
  /* padding-bottom: 5%; */
  /* background-color: rgb(53, 53, 125); */
  /* background-color: rgb(111, 226, 111); */
  /* color: white; */
}
.loginbody-L1 {
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5%;
  /* border: 3px solid red; */
  width: 685px;
  height: 805px;
  margin: 0 auto;
  /* background-color: rgb(57, 57, 219); */
  border-radius: 50%;
  /* color: white; */
}
.form-text {
  color: white;
}
.form-text-p {
  /* border: 2px solid red; */
  margin: 0 auto;
  width: 70%;
  text-align: left;
  color: white;
}

.form-text-h1 {
  padding-top: 80px;
  /* border: 2px solid red; */
  width: 70%;
  margin: 0 auto;
  /* font-size: 95%; */
  text-align: left;
  color: white;
}
.form-text-h1 h1 {
  /* border: 2px solid red; */
  font-size: 60px;
}

@media (max-width: 600px) {
  .form-text-h1 h1 {
    /* border: 2px solid red; */
    font-size: 40px;
  }
}
/* .form h1 {
  color: white;
  padding-bottom: 0%;
  padding-top: 25%;
  padding-left: 95px;
  text-align: left;
} */
.formbody {
  padding: 10% 25%;
}
@media (max-width: 600px) {
  .loginbody-L1 {
    text-align: center;
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(57, 57, 219); */
  }
}

@media (max-width: 600px) {
  .formbody {
    padding: 6% 6%;
  }
}

.form {
  /* border: 3px solid rgb(54, 7, 7); */
  padding-bottom: 80px;
  border-radius: 2%;
  line-height: 250%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  background-color: #000099;
}

.form input {
  max-width: 80%;
  color: black;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  margin: 0 auto;
  width: 70%;
}

.formreq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 7%;
  padding-top: 3%;
  padding: 0px 11px;
}

.formreq h5 {
  color: #7c20be;
  font-size: 15px;
}

.inputs button {
  width: 70%;
  background-color: rgb(70, 233, 70);
  color: white;
  border-radius: 5px;
  border-style: none;
  margin: 0 auto;
}

.formnav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0% 30%;
  padding-bottom: 7%;
  padding-top: 3%;
}

.formnav h5 {
  color: #7c20be;
  font-size: 15px;
}

button:hover {
  color: #7c20be;
  padding: 0px 50px;
  border-radius: 15px;
  border: 2px solid white;
  background-color: rgb(0, 255, 0);
}

.forgetpass {
  color: rgba(255, 255, 255, 0.71);
}
