.signupbody {
  margin: 0 auto;
  /* padding: 10% 10% 10% 10%; */
  /* padding-top: 10%; */
  padding-bottom: 20%;
  /* background-color: rgb(53, 53, 125); */
  /* background-color: rgb(18, 49, 18); */
  /* color: white; */
}
.signup-loginbody-L1 {
  padding-top: 10%;
  text-align: center;
  /* border: 3px solid red; */
  width: 685px;
  height: 805px;
  margin: 0 auto;
  /* background-color: rgb(219, 57, 68); */
  /* background-color: rgb(31, 31, 197); */
  border-radius: 50%;
  /* color: white; */
      /* background-color: rgb(31, 31, 197); */
      /* background-color: rgb(45, 196, 45); */

}
.form-text {
  color: white;
}
.signup-form-text-p {
  /* border: 2px solid red; */
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: white;
}

.signup-form-text-h1 {
    padding-top: 10%;
  /* border: 2px solid red; */
  width: 70%;
  margin: 0 auto;
  /* font-size: 95%; */
  text-align: center;
  color: white;
}
.signup-form-text-h1 h1 {
  /* border: 2px solid red; */
  font-size: 60px;
}

@media (max-width: 600px) {
  .signup-form-text-h1 h1 {
    /* border: 2px solid red; */
    font-size: 40px;
  }
}
/* .form h1 {
  color: white;
  padding-bottom: 0%;
  padding-top: 25%;
  padding-left: 95px;
  text-align: left;
} */
.signup-formbody {
  padding: 10% 25%;
}
@media (max-width: 600px) {
  .signup-loginbody-L1 {
    text-align: center;
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(31, 31, 197); */
  }
}

@media (max-width: 600px) {
  .signup-formbody {
    padding: 6% 6%;
  }
}

.signup-form {
  /* border: 3px solid rgb(54, 7, 7); */
  border-radius: 2%;
  line-height: 250%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  background-color: rgb(31, 31, 197);
}

.signup-form input {
  max-width: 80%;
  color: black;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  margin: 0 auto;
  width: 70%;
}

.signup-formreq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 7%;
  padding-top: 3%;
  padding: 0px 11px;
}

.signup-formreq h5 {
  color: #7c20be;
  font-size: 15px;
}

.signup-inputs button {
  width: 70%;
  background-color: rgb(70, 233, 70);
  color: white;
  border-radius: 5px;
  border-style: none;
  margin: 0 auto;
}

.signup-formnav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0% 30%;
  padding-bottom: 7%;
  padding-top: 3%;
}

.signup-formnav h5 {
  color: #7c20be;
  font-size: 15px;
}

button:hover {
  color: #7c20be;
  padding: 0px 50px;
  border-radius: 15px;
  border: 2px solid white;
  background-color: rgb(0, 255, 0);
}

.signup-forgetpass {
  color: rgba(255, 255, 255, 0.71);
}
